<div id='wrapper'>
  <header id="header">
    <div class="inner">
      {% include '@atoms/logo.twig' %}
      <nav>
        <ul>
          <li>
            <a href="#menu">Menu</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
</div>
