<!-- doesnt seem right to include the wrapper div -->
<div id='wrapper'>
  <footer id="footer">
    <div class="inner">
        {% include "@molecules/contact_form.twig" %}
        {% include "@molecules/follow_bar.twig" %}
        {% include "@molecules/copyright.twig" %}
    </div>
  </footer>
</div>
